.chart{
    margin: 20px;
    padding: 20px;
    box-shadow: 12px 12px 17px -4px rgba(42,38,38,0.75);
    -webkit-box-shadow: 12px 12px 17px -4px rgba(42,38,38,0.75);
    -moz-box-shadow: 12px 12px 17px -4px rgba(42,38,38,0.75);
    .chartTitle{
        margin-bottom: 20px;
        
    }
}