.newuser{
    flex:5; 
    .newuserForm{
        display: flex;
        flex-wrap: wrap;
        .newUserItem{
            width: 400px;
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            margin-right: 20px;
            label{
                margin-bottom: 10px;
                font-size: 14px;
                font-weight: 600;
                color: gray;
            }
            input{
                height: 20px;
                padding: 10px;
                border: none;
                border-bottom: 1px solid gray;
                border-radius: 5px;
            }
            .newUserGender{
                input{
                    margin-top: 16px;

                }
                label{
                    margin: 10px;
                    margin-top: -8px;
                    font-size: 18px;
                    color: #555;
                }
            }
            select{
                height: 40px;
                border-radius: 5px;
                font-size: 16px;
            }

        }
        
    }

}

.newUserButton{
    width: 200px;
    height: 35px;
    border: none;
    background-color: rgb(6, 105, 72);
    color: #fff;
    cursor: pointer;
    padding: 7px 10px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 20px;
}