.product{
    flex:5;
    padding: 20px;
    .productTiltContainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .productUpdateButton{
            border-radius: 5px;
            width: 100px;
            border: none;
            padding: 5px;
            cursor: pointer;
            background-color: rgb(5, 80, 55);
            color: #fff;
            font-weight: bolder;
        } 
    }
    .productTop{
        display: flex;
        .productTopLeft,.productTopRight{
            flex: 1;
        }
        .productTopLeft{
            width: 400px;
            height: 200px;
        }
        .productTopRight{
            padding: 20px;
            margin: 20px;
            box-shadow: 12px 12px 17px -4px rgba(42,38,38,0.75);
            -webkit-box-shadow: 12px 12px 17px -4px rgba(42,38,38,0.75);
            -moz-box-shadow: 12px 12px 17px -4px rgba(42,38,38,0.75);
            .productInfoTop{
                display: flex;
                align-items: center;
            }
            .productInfoBottom{
                margin-top: 10px;
                .productInfoItem{
                    width: 150px;
                    display: flex;
                    justify-content: space-between;
                    .productInfoValue{
                        font-weight: 300;

                    }
                }
            }
        }
    }
    .productBottom{
        padding: 20px;
        margin: 20px;
        box-shadow: 12px 12px 17px -4px rgba(42,38,38,0.75);
        -webkit-box-shadow: 12px 12px 17px -4px rgba(42,38,38,0.75);
        -moz-box-shadow: 12px 12px 17px -4px rgba(42,38,38,0.75);
        .productform{
            display: flex;
            justify-content: space-between;
            .productFormLeft{
                display: flex;
                flex-direction: column;
                label{
                    margin-bottom: 10px;
                    color: gray;
                }
                input{
                    margin-bottom: 10px;
                    border: none;
                    padding: 5px;
                    border-bottom: 1px solid gray;
                }
                select{
                    margin-bottom: 10px;
                }
            }
            .productFormRight{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .productUload{
                    display: flex;
                    align-items: center;
                }
                .productButton{
                    border-radius: 5px;
                    width: 100px;
                    border: none;
                    align-items: center;
                    padding: 5px;
                    cursor: pointer;
                    background-color: rgb(5, 80, 55);
                    color: #fff;
                    font-weight: bolder;
                }
            }

        }
    }
}