.Container{
    display: flex;
    margin-top: 10px;
}
.link{
    text-decoration: none;
    color: inherit;
}

.jk{
    text-align: center;
    font-weight: 300;
    border-radius: 50%;
    background-color: white;
}
